body {
    color: burlywood;
    text-align: center;
}

h2 {
    color: darkorange;
}
#jsLanguage {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}